/*
    Этот пример сетки - заглушка. В ней пока что отсутствует ряд важных элементов.

    Даже не так. В ней нет и половины нужного.
    
    Анонс настоящей сетки как open source проекта скоро будет на dmitrylavrik.ru
*/
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.col {
  box-sizing: border-box;
  margin: 0 15px;
  word-wrap: break-word;
}

.col-xl-1 {
  width: calc(8.333333333333334% - 30px);
}
.col-xl-2 {
  width: calc(16.666666666666668% - 30px);
}
.col-xl-3 {
  width: calc(25% - 30px);
}
.col-xl-4 {
  width: calc(33.333333333333336% - 30px);
}
.col-xl-5 {
  width: calc(41.66666666666667% - 30px);
}
.col-xl-6 {
  width: calc(50% - 30px);
}
.col-xl-7 {
  width: calc(58.333333333333336% - 30px);
}
.col-xl-8 {
  width: calc(66.66666666666667% - 30px);
}
.col-xl-9 {
  width: calc(75% - 30px);
}
.col-xl-10 {
  width: calc(83.33333333333334% - 30px);
}
.col-xl-11 {
  width: calc(91.66666666666667% - 30px);
}
.col-xl-12 {
  width: calc(100% - 30px);
}
.offset-xl-0 {
  margin-left: calc(0% + 15px);
  margin-right: calc(0% + 15px);
}
.offset-xl-1 {
  margin-left: calc(8.333333333333334% + 15px);
  margin-right: calc(8.333333333333334% + 15px);
}
.offset-xl-2 {
  margin-left: calc(16.666666666666668% + 15px);
  margin-right: calc(16.666666666666668% + 15px);
}
.offset-xl-3 {
  margin-left: calc(25% + 15px);
  margin-right: calc(25% + 15px);
}
.offset-xl-4 {
  margin-left: calc(33.333333333333336% + 15px);
  margin-right: calc(33.333333333333336% + 15px);
}
.offset-xl-5 {
  margin-left: calc(41.66666666666667% + 15px);
  margin-right: calc(41.66666666666667% + 15px);
}
.offset-xl-left-0 {
  margin-left: calc(0% + 15px);
}
.offset-xl-left-1 {
  margin-left: calc(8.333333333333334% + 15px);
}
.offset-xl-left-2 {
  margin-left: calc(16.666666666666668% + 15px);
}
.offset-xl-left-3 {
  margin-left: calc(25% + 15px);
}
.offset-xl-left-4 {
  margin-left: calc(33.333333333333336% + 15px);
}
.offset-xl-left-5 {
  margin-left: calc(41.66666666666667% + 15px);
}
.offset-xl-left-6 {
  margin-left: calc(50% + 15px);
}
.offset-xl-left-7 {
  margin-left: calc(58.333333333333336% + 15px);
}
.offset-xl-left-8 {
  margin-left: calc(66.66666666666667% + 15px);
}
.offset-xl-left-9 {
  margin-left: calc(75% + 15px);
}
.offset-xl-left-10 {
  margin-left: calc(83.33333333333334% + 15px);
}
.offset-xl-left-11 {
  margin-left: calc(91.66666666666667% + 15px);
}
.offset-xl-right-0 {
  margin-right: calc(0% + 15px);
}
.offset-xl-right-1 {
  margin-right: calc(8.333333333333334% + 15px);
}
.offset-xl-right-2 {
  margin-right: calc(16.666666666666668% + 15px);
}
.offset-xl-right-3 {
  margin-right: calc(25% + 15px);
}
.offset-xl-right-4 {
  margin-right: calc(33.333333333333336% + 15px);
}
.offset-xl-right-5 {
  margin-right: calc(41.66666666666667% + 15px);
}
.offset-xl-right-6 {
  margin-right: calc(50% + 15px);
}
.offset-xl-right-7 {
  margin-right: calc(58.333333333333336% + 15px);
}
.offset-xl-right-8 {
  margin-right: calc(66.66666666666667% + 15px);
}
.offset-xl-right-9 {
  margin-right: calc(75% + 15px);
}
.offset-xl-right-10 {
  margin-right: calc(83.33333333333334% + 15px);
}
.offset-xl-right-11 {
  margin-right: calc(91.66666666666667% + 15px);
}
.justify-xl-flex-start {
  justify-content: flex-start;
}
.justify-xl-flex-end {
  justify-content: flex-end;
}
.justify-xl-center {
  justify-content: center;
}
.justify-xl-space-around {
  justify-content: space-around;
}
.justify-xl-space-between {
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .wrapper {
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
  }
  .col-lg-1 {
    width: calc(8.333333333333334% - 30px);
  }
  .col-lg-2 {
    width: calc(16.666666666666668% - 30px);
  }
  .col-lg-3 {
    width: calc(25% - 30px);
  }
  .col-lg-4 {
    width: calc(33.333333333333336% - 30px);
  }
  .col-lg-5 {
    width: calc(41.66666666666667% - 30px);
  }
  .col-lg-6 {
    width: calc(50% - 30px);
  }
  .col-lg-7 {
    width: calc(58.333333333333336% - 30px);
  }
  .col-lg-8 {
    width: calc(66.66666666666667% - 30px);
  }
  .col-lg-9 {
    width: calc(75% - 30px);
  }
  .col-lg-10 {
    width: calc(83.33333333333334% - 30px);
  }
  .col-lg-11 {
    width: calc(91.66666666666667% - 30px);
  }
  .col-lg-12 {
    width: calc(100% - 30px);
  }
  .offset-lg-0 {
    margin-left: calc(0% + 15px);
    margin-right: calc(0% + 15px);
  }
  .offset-lg-1 {
    margin-left: calc(8.333333333333334% + 15px);
    margin-right: calc(8.333333333333334% + 15px);
  }
  .offset-lg-2 {
    margin-left: calc(16.666666666666668% + 15px);
    margin-right: calc(16.666666666666668% + 15px);
  }
  .offset-lg-3 {
    margin-left: calc(25% + 15px);
    margin-right: calc(25% + 15px);
  }
  .offset-lg-4 {
    margin-left: calc(33.333333333333336% + 15px);
    margin-right: calc(33.333333333333336% + 15px);
  }
  .offset-lg-5 {
    margin-left: calc(41.66666666666667% + 15px);
    margin-right: calc(41.66666666666667% + 15px);
  }
  .offset-lg-left-0 {
    margin-left: calc(0% + 15px);
  }
  .offset-lg-left-1 {
    margin-left: calc(8.333333333333334% + 15px);
  }
  .offset-lg-left-2 {
    margin-left: calc(16.666666666666668% + 15px);
  }
  .offset-lg-left-3 {
    margin-left: calc(25% + 15px);
  }
  .offset-lg-left-4 {
    margin-left: calc(33.333333333333336% + 15px);
  }
  .offset-lg-left-5 {
    margin-left: calc(41.66666666666667% + 15px);
  }
  .offset-lg-left-6 {
    margin-left: calc(50% + 15px);
  }
  .offset-lg-left-7 {
    margin-left: calc(58.333333333333336% + 15px);
  }
  .offset-lg-left-8 {
    margin-left: calc(66.66666666666667% + 15px);
  }
  .offset-lg-left-9 {
    margin-left: calc(75% + 15px);
  }
  .offset-lg-left-10 {
    margin-left: calc(83.33333333333334% + 15px);
  }
  .offset-lg-left-11 {
    margin-left: calc(91.66666666666667% + 15px);
  }
  .offset-lg-right-0 {
    margin-right: calc(0% + 15px);
  }
  .offset-lg-right-1 {
    margin-right: calc(8.333333333333334% + 15px);
  }
  .offset-lg-right-2 {
    margin-right: calc(16.666666666666668% + 15px);
  }
  .offset-lg-right-3 {
    margin-right: calc(25% + 15px);
  }
  .offset-lg-right-4 {
    margin-right: calc(33.333333333333336% + 15px);
  }
  .offset-lg-right-5 {
    margin-right: calc(41.66666666666667% + 15px);
  }
  .offset-lg-right-6 {
    margin-right: calc(50% + 15px);
  }
  .offset-lg-right-7 {
    margin-right: calc(58.333333333333336% + 15px);
  }
  .offset-lg-right-8 {
    margin-right: calc(66.66666666666667% + 15px);
  }
  .offset-lg-right-9 {
    margin-right: calc(75% + 15px);
  }
  .offset-lg-right-10 {
    margin-right: calc(83.33333333333334% + 15px);
  }
  .offset-lg-right-11 {
    margin-right: calc(91.66666666666667% + 15px);
  }
  .justify-lg-flex-start {
    justify-content: flex-start;
  }
  .justify-lg-flex-end {
    justify-content: flex-end;
  }
  .justify-lg-center {
    justify-content: center;
  }
  .justify-lg-space-around {
    justify-content: space-around;
  }
  .justify-lg-space-between {
    justify-content: space-between;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
  }
  .col-md-1 {
    width: calc(8.333333333333334% - 30px);
  }
  .col-md-2 {
    width: calc(16.666666666666668% - 30px);
  }
  .col-md-3 {
    width: calc(25% - 30px);
  }
  .col-md-4 {
    width: calc(33.333333333333336% - 30px);
  }
  .col-md-5 {
    width: calc(41.66666666666667% - 30px);
  }
  .col-md-6 {
    width: calc(50% - 30px);
  }
  .col-md-7 {
    width: calc(58.333333333333336% - 30px);
  }
  .col-md-8 {
    width: calc(66.66666666666667% - 30px);
  }
  .col-md-9 {
    width: calc(75% - 30px);
  }
  .col-md-10 {
    width: calc(83.33333333333334% - 30px);
  }
  .col-md-11 {
    width: calc(91.66666666666667% - 30px);
  }
  .col-md-12 {
    width: calc(100% - 30px);
  }
  .offset-md-0 {
    margin-left: calc(0% + 15px);
    margin-right: calc(0% + 15px);
  }
  .offset-md-1 {
    margin-left: calc(8.333333333333334% + 15px);
    margin-right: calc(8.333333333333334% + 15px);
  }
  .offset-md-2 {
    margin-left: calc(16.666666666666668% + 15px);
    margin-right: calc(16.666666666666668% + 15px);
  }
  .offset-md-3 {
    margin-left: calc(25% + 15px);
    margin-right: calc(25% + 15px);
  }
  .offset-md-4 {
    margin-left: calc(33.333333333333336% + 15px);
    margin-right: calc(33.333333333333336% + 15px);
  }
  .offset-md-5 {
    margin-left: calc(41.66666666666667% + 15px);
    margin-right: calc(41.66666666666667% + 15px);
  }
  .offset-md-left-0 {
    margin-left: calc(0% + 15px);
  }
  .offset-md-left-1 {
    margin-left: calc(8.333333333333334% + 15px);
  }
  .offset-md-left-2 {
    margin-left: calc(16.666666666666668% + 15px);
  }
  .offset-md-left-3 {
    margin-left: calc(25% + 15px);
  }
  .offset-md-left-4 {
    margin-left: calc(33.333333333333336% + 15px);
  }
  .offset-md-left-5 {
    margin-left: calc(41.66666666666667% + 15px);
  }
  .offset-md-left-6 {
    margin-left: calc(50% + 15px);
  }
  .offset-md-left-7 {
    margin-left: calc(58.333333333333336% + 15px);
  }
  .offset-md-left-8 {
    margin-left: calc(66.66666666666667% + 15px);
  }
  .offset-md-left-9 {
    margin-left: calc(75% + 15px);
  }
  .offset-md-left-10 {
    margin-left: calc(83.33333333333334% + 15px);
  }
  .offset-md-left-11 {
    margin-left: calc(91.66666666666667% + 15px);
  }
  .offset-md-right-0 {
    margin-right: calc(0% + 15px);
  }
  .offset-md-right-1 {
    margin-right: calc(8.333333333333334% + 15px);
  }
  .offset-md-right-2 {
    margin-right: calc(16.666666666666668% + 15px);
  }
  .offset-md-right-3 {
    margin-right: calc(25% + 15px);
  }
  .offset-md-right-4 {
    margin-right: calc(33.333333333333336% + 15px);
  }
  .offset-md-right-5 {
    margin-right: calc(41.66666666666667% + 15px);
  }
  .offset-md-right-6 {
    margin-right: calc(50% + 15px);
  }
  .offset-md-right-7 {
    margin-right: calc(58.333333333333336% + 15px);
  }
  .offset-md-right-8 {
    margin-right: calc(66.66666666666667% + 15px);
  }
  .offset-md-right-9 {
    margin-right: calc(75% + 15px);
  }
  .offset-md-right-10 {
    margin-right: calc(83.33333333333334% + 15px);
  }
  .offset-md-right-11 {
    margin-right: calc(91.66666666666667% + 15px);
  }
  .justify-md-flex-start {
    justify-content: flex-start;
  }
  .justify-md-flex-end {
    justify-content: flex-end;
  }
  .justify-md-center {
    justify-content: center;
  }
  .justify-md-space-around {
    justify-content: space-around;
  }
  .justify-md-space-between {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
  }
  .col-sm-1 {
    width: calc(8.333333333333334% - 30px);
  }
  .col-sm-2 {
    width: calc(16.666666666666668% - 30px);
  }
  .col-sm-3 {
    width: calc(25% - 30px);
  }
  .col-sm-4 {
    width: calc(33.333333333333336% - 30px);
  }
  .col-sm-5 {
    width: calc(41.66666666666667% - 30px);
  }
  .col-sm-6 {
    width: calc(50% - 30px);
  }
  .col-sm-7 {
    width: calc(58.333333333333336% - 30px);
  }
  .col-sm-8 {
    width: calc(66.66666666666667% - 30px);
  }
  .col-sm-9 {
    width: calc(75% - 30px);
  }
  .col-sm-10 {
    width: calc(83.33333333333334% - 30px);
  }
  .col-sm-11 {
    width: calc(91.66666666666667% - 30px);
  }
  .col-sm-12 {
    width: calc(100% - 30px);
  }
  .offset-sm-0 {
    margin-left: calc(0% + 15px);
    margin-right: calc(0% + 15px);
  }
  .offset-sm-1 {
    margin-left: calc(8.333333333333334% + 15px);
    margin-right: calc(8.333333333333334% + 15px);
  }
  .offset-sm-2 {
    margin-left: calc(16.666666666666668% + 15px);
    margin-right: calc(16.666666666666668% + 15px);
  }
  .offset-sm-3 {
    margin-left: calc(25% + 15px);
    margin-right: calc(25% + 15px);
  }
  .offset-sm-4 {
    margin-left: calc(33.333333333333336% + 15px);
    margin-right: calc(33.333333333333336% + 15px);
  }
  .offset-sm-5 {
    margin-left: calc(41.66666666666667% + 15px);
    margin-right: calc(41.66666666666667% + 15px);
  }
  .offset-sm-left-0 {
    margin-left: calc(0% + 15px);
  }
  .offset-sm-left-1 {
    margin-left: calc(8.333333333333334% + 15px);
  }
  .offset-sm-left-2 {
    margin-left: calc(16.666666666666668% + 15px);
  }
  .offset-sm-left-3 {
    margin-left: calc(25% + 15px);
  }
  .offset-sm-left-4 {
    margin-left: calc(33.333333333333336% + 15px);
  }
  .offset-sm-left-5 {
    margin-left: calc(41.66666666666667% + 15px);
  }
  .offset-sm-left-6 {
    margin-left: calc(50% + 15px);
  }
  .offset-sm-left-7 {
    margin-left: calc(58.333333333333336% + 15px);
  }
  .offset-sm-left-8 {
    margin-left: calc(66.66666666666667% + 15px);
  }
  .offset-sm-left-9 {
    margin-left: calc(75% + 15px);
  }
  .offset-sm-left-10 {
    margin-left: calc(83.33333333333334% + 15px);
  }
  .offset-sm-left-11 {
    margin-left: calc(91.66666666666667% + 15px);
  }
  .offset-sm-right-0 {
    margin-right: calc(0% + 15px);
  }
  .offset-sm-right-1 {
    margin-right: calc(8.333333333333334% + 15px);
  }
  .offset-sm-right-2 {
    margin-right: calc(16.666666666666668% + 15px);
  }
  .offset-sm-right-3 {
    margin-right: calc(25% + 15px);
  }
  .offset-sm-right-4 {
    margin-right: calc(33.333333333333336% + 15px);
  }
  .offset-sm-right-5 {
    margin-right: calc(41.66666666666667% + 15px);
  }
  .offset-sm-right-6 {
    margin-right: calc(50% + 15px);
  }
  .offset-sm-right-7 {
    margin-right: calc(58.333333333333336% + 15px);
  }
  .offset-sm-right-8 {
    margin-right: calc(66.66666666666667% + 15px);
  }
  .offset-sm-right-9 {
    margin-right: calc(75% + 15px);
  }
  .offset-sm-right-10 {
    margin-right: calc(83.33333333333334% + 15px);
  }
  .offset-sm-right-11 {
    margin-right: calc(91.66666666666667% + 15px);
  }
  .justify-sm-flex-start {
    justify-content: flex-start;
  }
  .justify-sm-flex-end {
    justify-content: flex-end;
  }
  .justify-sm-center {
    justify-content: center;
  }
  .justify-sm-space-around {
    justify-content: space-around;
  }
  .justify-sm-space-between {
    justify-content: space-between;
  }
}
@media screen and (max-width: 544px) {
  .wrapper {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
  }
  .col-xs-1 {
    width: calc(8.333333333333334% - 30px);
  }
  .col-xs-2 {
    width: calc(16.666666666666668% - 30px);
  }
  .col-xs-3 {
    width: calc(25% - 30px);
  }
  .col-xs-4 {
    width: calc(33.333333333333336% - 30px);
  }
  .col-xs-5 {
    width: calc(41.66666666666667% - 30px);
  }
  .col-xs-6 {
    width: calc(50% - 30px);
  }
  .col-xs-7 {
    width: calc(58.333333333333336% - 30px);
  }
  .col-xs-8 {
    width: calc(66.66666666666667% - 30px);
  }
  .col-xs-9 {
    width: calc(75% - 30px);
  }
  .col-xs-10 {
    width: calc(83.33333333333334% - 30px);
  }
  .col-xs-11 {
    width: calc(91.66666666666667% - 30px);
  }
  .col-xs-12 {
    width: calc(100% - 30px);
  }
  .offset-xs-0 {
    margin-left: calc(0% + 15px);
    margin-right: calc(0% + 15px);
  }
  .offset-xs-1 {
    margin-left: calc(8.333333333333334% + 15px);
    margin-right: calc(8.333333333333334% + 15px);
  }
  .offset-xs-2 {
    margin-left: calc(16.666666666666668% + 15px);
    margin-right: calc(16.666666666666668% + 15px);
  }
  .offset-xs-3 {
    margin-left: calc(25% + 15px);
    margin-right: calc(25% + 15px);
  }
  .offset-xs-4 {
    margin-left: calc(33.333333333333336% + 15px);
    margin-right: calc(33.333333333333336% + 15px);
  }
  .offset-xs-5 {
    margin-left: calc(41.66666666666667% + 15px);
    margin-right: calc(41.66666666666667% + 15px);
  }
  .offset-xs-left-0 {
    margin-left: calc(0% + 15px);
  }
  .offset-xs-left-1 {
    margin-left: calc(8.333333333333334% + 15px);
  }
  .offset-xs-left-2 {
    margin-left: calc(16.666666666666668% + 15px);
  }
  .offset-xs-left-3 {
    margin-left: calc(25% + 15px);
  }
  .offset-xs-left-4 {
    margin-left: calc(33.333333333333336% + 15px);
  }
  .offset-xs-left-5 {
    margin-left: calc(41.66666666666667% + 15px);
  }
  .offset-xs-left-6 {
    margin-left: calc(50% + 15px);
  }
  .offset-xs-left-7 {
    margin-left: calc(58.333333333333336% + 15px);
  }
  .offset-xs-left-8 {
    margin-left: calc(66.66666666666667% + 15px);
  }
  .offset-xs-left-9 {
    margin-left: calc(75% + 15px);
  }
  .offset-xs-left-10 {
    margin-left: calc(83.33333333333334% + 15px);
  }
  .offset-xs-left-11 {
    margin-left: calc(91.66666666666667% + 15px);
  }
  .offset-xs-right-0 {
    margin-right: calc(0% + 15px);
  }
  .offset-xs-right-1 {
    margin-right: calc(8.333333333333334% + 15px);
  }
  .offset-xs-right-2 {
    margin-right: calc(16.666666666666668% + 15px);
  }
  .offset-xs-right-3 {
    margin-right: calc(25% + 15px);
  }
  .offset-xs-right-4 {
    margin-right: calc(33.333333333333336% + 15px);
  }
  .offset-xs-right-5 {
    margin-right: calc(41.66666666666667% + 15px);
  }
  .offset-xs-right-6 {
    margin-right: calc(50% + 15px);
  }
  .offset-xs-right-7 {
    margin-right: calc(58.333333333333336% + 15px);
  }
  .offset-xs-right-8 {
    margin-right: calc(66.66666666666667% + 15px);
  }
  .offset-xs-right-9 {
    margin-right: calc(75% + 15px);
  }
  .offset-xs-right-10 {
    margin-right: calc(83.33333333333334% + 15px);
  }
  .offset-xs-right-11 {
    margin-right: calc(91.66666666666667% + 15px);
  }
  .justify-xs-flex-start {
    justify-content: flex-start;
  }
  .justify-xs-flex-end {
    justify-content: flex-end;
  }
  .justify-xs-center {
    justify-content: center;
  }
  .justify-xs-space-around {
    justify-content: space-around;
  }
  .justify-xs-space-between {
    justify-content: space-between;
  }
}
