.wrapper {
    max-width: 1280px;
}

.clearfix {
    clear: both;
    content: "";
}

/* MENU */
.menu {
    position: fixed;
    top: 316px;
    width: 13px;
    right: 85px;
    height: 50px;
}

.menu-block {
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-item {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: red;
    display: inline-block;
    margin-top: 15px;
    z-index: 1000;
}

.menu-active {
    width: 11px;
    height: 11px;
    margin-bottom: 5px;
}

/* HEADER */

.header .wrapper {
    background: url(../img/header-bg.jpg) center;
    width: 100%;
    height: 800px;
}

.wrapper-bgShadow {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.header-logo img {
    width: 142px;
    margin: 32px 0 0 36px;
}

.header-description {
    margin: 187px 0 0 0;
    color: white;
}

.header-title {
    font-size: 3.795em;
    text-align: center;
    font-family: nunitolight, sans-serif;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.79)
}

.header-text {

    text-align: center;
    font-size: 1.26em;
    font-family: yantramanavlight, sans-serif;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.79)
}

.header-text--firstLine {
    margin: 28px 0 0 0;
}

.header-text--lastLine {
    margin: 7px 0 0 0;
}

.header-inputBlock {
    margin: 59px 0 0 0;
}

.header-inputBlock--middle {
    width: 475px;
    margin: 0 auto;
}

.inputMail {
    width: 285px;
    height: 45px;
    font-size: 1.19em;
    padding-left: 26px;
    font-family: yantramanavlight, sans-serif;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.inputBtn {
    width: 82px;
    margin-left: -6px;
    display: inline-block;
}

a.inputBtn {
    background-color: #20ab50;
    color: white;
    font-family: nunitoregular, sans-serif;
    font-size: 1.25em;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    padding: 14px 41px;
}

/* about */

.about-left {
    width: 50%;
    float: left;
}

.about-leftTitle {
    font-family: nunitolight, sans-serif;
    font-size: 1.9em;
    text-align: center;
    margin: 117px 0 0 -2px;
    transition: 0.7s;
}

.about-leftText {
    margin: 35px auto;
    width: 400px;
}

.about-paragraph {
    font-family: yantramanavthin, sans-serif;
    font-size: 1.125em;
    text-align: justify;
    display: block;
    margin: 24px 0 0 -7px;
    line-height: 24px;
    transition: 0.7s;
}

.about-right {
    width: 50%;
    float: right;
}

.about-rightImg {
    width: 100%;
    height: 800px;

}

/* Charlie review (first)*/
.reviewFirst {
    clear: both;
    content: "";
}

.reviewFirst-left {
    width: 50%;
    float: left;
    margin-top: -2px;
}

.reviewFirst-left img {
    width: 100%;
    height: 100%;
}

.reviewFirst-right {
    float: right;
    width: 50%;
    margin: 80px 0 0 0;
}

.reviewFirst-rightTitle {
    font-family: nunitolight, sans-serif;
    font-size: 1.9em;
    text-align: center;
    margin: 116px 0 0 16px;
    font-weight: bolder;
    transition: 0.7s;
}

.reviewFirst-textWrapper {
    position: relative;
}

.reviewFirst-rightText {
    font-family: yantramanavthin, sans-serif;
    font-size: 1.42em;
    margin: 14px 0 0 57px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}

.reviewFirst-rightAuthor {
    font-family: yantramanavthin, sans-serif;
    font-size: 1.259em;
    margin: 91px 0 0 -12px;
    line-height: 30px;
    text-align: center;
    transition: 0.7s;
}

.reviewFirst-rightTextBlock {
    width: 420px;
    margin: 105px auto 0;
    transition: 0.7s;
}

/* quote position reviewFirst*/
.quoteOpen-reviewFirst--position {
    top: -27px;
    left: 151px;
    transition: 0.7s;
}

.quoteClose-reviewFirst--position {
    bottom: -12px;
    right: 136px;
    transition: 0.7s;
}

/* Quote */
.quoteOpen {
    width: 26px;
    height: 16px;
    background-image: url(../img/open.png);
    display: inline-block;
    position: absolute;
}

.quoteClose {
    width: 25px;
    height: 16px;
    background-image: url(../img/close.png);
    display: inline-block;
    position: absolute;
}

/* Edie review (last)*/

.reviewLast {
    clear: both;
    content: "";
}

.reviewLast-left {
    width: 50%;
    float: left;
}

.reviewLast-right {
    width: 50%;
    float: right;
    margin-top: -2px;
}

.reviewLast-right img {
    width: 100%;
    height: 100%;
}

.reviewLast-textWrapper {
    margin: 310px auto 0;
    position: relative;
    transition: 0.7s;
}

.reviewLast-leftText {
    font-family: yantramanavthin, sans-serif;
    font-size: 1.456em;
    margin: 0 0 0 5px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}

.reviewLast-author {
    font-family: yantramanavthin, sans-serif;
    font-size: 1.259em;
    margin: 91px 0 0 -25px;
    line-height: 30px;
    text-align: center;
}

.reviewLast-leftTextBlock {
    margin: 0 auto;
    width: 300px;
    display: block;
}

/* quote position reviewLast*/
.quoteOpen-reviewLast--position {
    top: -41px;
    left: 145px;
}

.quoteClose-reviewLast--position {
    bottom: -12px;
    right: 145px;
}

.empty {
    clear: both;
    height: 1595px;
    background-color: #00b3ee
}

/* textBlock */
.slider-textBlock {
    margin: 0;
}

.slider-title {
    text-align: center;
    font-family: nunitolight, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    margin: 80px 0 0 28px;
}

.slider-text {
    text-align: center;
    font-family: yantramanavlight, sans-serif;
    font-size: 1.1em;
    margin: 20px 0 0 28px;
}

/* slider */

#sliderFirst {
    position: relative;
    margin: 100px auto;
    padding: 5px;
    width: 660px;
    height: 360px;
}

#sliderFirst__img {
    margin: 33px 0 0 97px;
    width: 446px;
    height: 237px;
    background-color: white;
    background-image: url("../img/shoes/Ty_N_Steel.jpg");
}

#sliderFirst__left-button {
    left: -95px;
    position: absolute;
    top: 153px;
    width: 38px;
    height: 38px;
    text-align: center;
    background-image: url(../img/left.png);
    cursor: pointer;
}

#sliderFirst__right-button {
    right: -93px;
    position: absolute;
    top: 153px;
    width: 38px;
    height: 38px;
    text-align: center;
    background-image: url(../img/right.png);
    cursor: pointer;
}

/* address */
.address-title {
    text-align: center;
    font-family: nunitolight, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    margin: 92px 0 0 -9px;
}

.address-text {
    text-align: center;
    font-family: yantramanavlight, sans-serif;
    font-size: 1.1em;
    margin: 21px 0 0 0;
}

.address-block {
    margin-top: 10px;
    padding-left: 40px;
    padding-top: 10px;
}

.address-shop {
    margin: 46px 0 0 62px;
    width: 150px;
    height: 150px;
    /*background-color: red;*/
    float: left;
    font-family: yantramanavthin, sans-serif;
}

/* address Block */
.address-shopHeader {
    font-family: nunitoregular, sans-serif;
    font-size: 0.9em;
    padding: 13px 0 0 15px;
}

.address-shopStreet {
    font-family: yantramanavthin, sans-serif;
    font-size: 0.95em;
    padding: 7px 0 0 12px;
}

.address-shopCity {
    font-family: yantramanavthin, sans-serif;
    font-size: 0.945em;
    padding: 7px 0 0 14px;
}

.address-shopNumber {
    font-family: yantramanavthin, sans-serif;
    font-size: 0.945em;
    padding: 7px 0 0 14px;
}

.address-shopPhone {
    font-family: yantramanavthin, sans-serif;
    font-size: 0.945em;
    padding: 7px 0 0 13px;
}

.address-shopSite {
    font-family: yantramanavthin, sans-serif;
    font-size: 0.94em;
    padding: 14px 0 0 12px;
    color: #1faa50;
}

/* contact */

.contact-title {
    text-align: center;
    font-family: nunitolight, sans-serif;
    font-size: 1.55em;
    font-weight: bold;
    margin: 84px 0 0 0;
}

.contact-text {
    text-align: center;
    font-family: yantramanavlight, sans-serif;
    font-size: 1.1em;
    margin: 17px 0 0 -1px;
}

.contact-block {
    margin: 47px auto;
    width: 400px;
}

.contact-email {
    color: #20ab50;
    font-family: yantramanavthin, sans-serif;
    font-size: 1.135em;
    margin: 0 0 0 15px;
}

.contact-phone {
    font-family: yantramanavthin, sans-serif;
    margin-left: 104px;
    font-size: 1.135em;
}

/* subscription */
.subscription {
    margin: 78px 0 0 0;
}

.subscription > .wrapper {
    background-color: #f3f3f3;
}

.subscription-description {
    padding-top: 134px;
}

.subscription-title {
    text-align: center;
    font-family: nunitolight, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    margin: 0 0 0 2px;
}

.subscription-text {
    text-align: center;
    font-family: yantramanavlight, sans-serif;
    font-size: 1.379em;
    margin: 15px 0 0 1px;
}

.subscription-inputBlock {
    margin: 48px 0 0 18px;
    padding-bottom: 113px;
}

.subscription-inputBlock--middle {
    margin: 0 auto;
    width: 475px;
}

.inputMail--subscription {
    padding-left: 43px;
    width: 267px;
}

a.inputBtn-subscription {
    width: 83px;
}

/* footer */
.footer-text {
    background-color: #dcdcdc;
    padding: 13px 0 12px 36px;
    font-family: yantramanavlight, sans-serif;
    color: white;
    font-size: 0.94em;
}