.wrapper {
    max-width: 1280px;
}

/* MENU */
.menu {
    position: fixed;
    top: 316px;
    width: 13px;
    right: 85px;
    height: 50px;
}
.menu-block{
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-item{
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: red;
    display: inline-block;
    margin-top: 15px;
}
.menu-active{
    width: 11px;
    height: 11px;
    margin-bottom: 5px;
}
/* HEADER */

.header .wrapper {
    background: url(../img/header-bg.jpg) center;
    width: 100%;
    height: 800px;
}

.wrapper-bgShadow {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.header-logo img {
    width: 142px;
    margin: 32px 0 0 36px;
}

.header-description {
    margin: 187px 0 0 0;
    color: white;
}

.header-title {
    font-size: 3.795em;
    text-align: center;
    font-family: nunitolight, sans-serif;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.79)
}

.header-text {

    text-align: center;
    font-size: 1.26em;
    font-family: yantramanavlight, sans-serif;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.79)
}

.header-text--firstLine {
    margin: 28px 0 0 0;
}

.header-text--lastLine {
    margin: 7px 0 0 0;
}

.header-inputBlock {
    margin: 59px 0 0 0;
}

.header-inputBlock--middle {
    width: 475px;
    margin: 0 auto;
}

.header-inputMail {
    width: 285px;
    height: 45px;
    font-size: 1.19em;
    padding-left: 26px;
    font-family: yantramanavlight, sans-serif;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.header-inputBtn {
    width: 82px;
    margin-left: -6px;
    display: inline-block;
}

a.header-inputBtn {
    background-color: #20ab50;
    color: white;
    font-family: nunitoregular, sans-serif;
    font-size: 1.25em;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    padding: 14px 41px;
}

/* about */

.about-left{
    width: 50%;
    float: left;
}
.about-leftTitle{
    font-family: nunitolight, sans-serif;
    font-size: 1.9em;
    text-align: center;
    margin: 117px 0 0 -2px;
}
.about-leftText{
    margin: 35px auto;
    width: 400px;
}
.about-paragraph {
    font-family: yantramanavthin, sans-serif;
    font-size: 1.125em;
    text-align: justify;
    display: block;
    margin: 24px 0 0 -7px;
    line-height: 24px;
}

.about-right{
    width: 50%;
    float: right;
}
.about-rightImg{
    width: 100%;
    height: 800px;

}

/* Charlie review (first)*/
.reviewFirst{
    clear: both;
    content: "";
}
.reviewFirst-left{
    width: 50%;
    float: left;
    margin-top: -2px;
}
.reviewFirst-right{
    float: right;
    width: 50%;
    margin: 80px 0 0 0px;
}
.reviewFirst-rightTitle{
    font-family: nunitolight, sans-serif;
    font-size: 1.9em;
    text-align: center;
    margin: 116px 0 0 16px;
    font-weight: bolder;
}
.reviewFirst-rightText{
    font-family: yantramanavthin, sans-serif;
    font-size: 1.42em;
    margin: 14px 0 0 58px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}
.quoteOpen-reviewFirst--position{
    margin: 77px 0 0 151px;
}
.reviewFirst-rightTextBlock{
    width: 420px;
    margin: 10px auto;
}
.quoteClose-reviewFirst--position{
    margin: -15px 0 0 479px;
    position: absolute;
}

.reviewFirst-rightAuthor{
    font-family: yantramanavthin, sans-serif;
    font-size: 1.259em;
    margin: 92px 0 0 -12px;
    line-height: 30px;
    text-align: center;
}

/* Quote */
.quoteOpen{
    width: 26px;
    height: 16px;
    background-image: url(../img/open.png);
    display: inline-block;
}
.quoteClose{
    width: 25px;
    height: 16px;
    background-image: url(../img/close.png);
    display: inline-block;
}